.itemDetail{
    margin: 2rem;
    width: 80%;
    height: 50%;
    display: grid;
    justify-content: center;
}

.detail{
    display: flex;
    margin: 2rem;
    
}

.imageProduct{
    width: 25rem;
    height: 25rem;

}
.otherProduct{
    margin: 0.5rem;
}

.otherProduct > img{
    margin-top: 0.5rem;
}


/*-------Tablet-------*/
@media only screen and (max-width: 768px){
    .itemDetail{
        width: 100%;
    }
    .imageProduct{
        width: 20rem;
        height: 20rem;
    
    }
}
/*-------Mobile-------*/
@media only screen and (max-width: 390px){
    .itemDetail{
        width: 100%;
        display: grid;
        justify-content: center;
    }
    .detail{
        margin: 0.25rem;
        display: grid;
        grid-template-columns: 1fr;
    }
    .imagesDetail{
        display: grid;
        justify-content: center;
    }
    .imageProduct{
        width: 15rem;
        height: 15rem;
    
    }
    p{
        font-size: small;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
}