.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 1rem;;
    margin-left: 10rem;
    margin-right: 10rem;
    height: auto;
}
.cards > div{
    margin: 0.5rem;
}

.button{
    text-decoration: none;
    border-color: black;
    background-color: white;
    color: black;
    border-radius: 1rem;
    border: 2px solid black;
    height: 2.5rem;
    width: 100%;
    padding: 0.3rem;
    font-weight: 300;
    font-size: 1.25rem;
}
.button:hover{
    background-color: black;
    color: white;
}

/*-------Tablet-------*/
@media only screen and (max-width: 768px){
    .cards{
        grid-template-columns: 1fr 1fr;
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .card{
        width: 90%;
    }
}
/*-------Mobile-------*/
@media only screen and (max-width: 390px){
    .cards{
        grid-template-columns: 1fr;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .card{
        width: 90%;
    }
}