.navbar-toggler:focus{
    border:none;
    box-shadow: none;
}
.navbar-nav{
    width: 100%;
    justify-content: space-around;
}

.link{
    cursor: pontier;
    border: none;
    background-color: black;
    color: white;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
    color: white;
}

.loginCart{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    
}

.loginCart > .link{
    text-decoration: none;
    flex-direction: row;
    font-size: 16px;
    padding: 0.25rem;
}

/*-------Tablet-------*/
@media only screen and (max-width: 992px){
    nav{
        width: 100%;
    }
    .navbar-brand{
        width: 60%;
    }
    .loginCart .col-3 .me-auto .navbar-brand{
        width: 15%!important;
    }
}

/*-----Mobile-----*/
@media only screen and (max-width: 412px){
    .navbar-brand{
        width: 55%;
    }
    .loginCart{
        flex-direction: column;
        
    }
}
